In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import plotly.subplots
import os
os.environ["OPENAI_API_KEY"] = "insert key here"  # Replace with your actual OpenAI API key

In [16]:
# Attempt to read the uploaded .txt file with an alternative encoding
file_path = 'C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/answers-volunteers.txt'
df = pd.read_csv(file_path, sep=",", encoding='ISO-8859-1')
#alternative encoding not working: df = pd.read_csv(file_path, sep=",", encoding='cp1252')
# Display the first few rows of the dataframe to verify successful loading
df.head()

,I feel like I can be myself at my volunteer activity.,The tasks I must do at my volunteer activity are in line with what I really want to do.,I am free to express my ideas and opinions on the volunteer activity.,I really master my tasks at my volunteer activity.,I feel competent at my volunteer activity.,I have been able to learn interesting new skills on my volunteer activity.,"At my volunteer activity, I feel part of a group.","At my volunteer activity, I can talk with people about things that really matter to me.",People at my volunteer activity care about me.,"Considering everything, I am satisfied with my volunteer activity.",...,"My family, friends and my neighborhood appreciate the work I do for the team.",I am fairly rewarded considering the responsibilities I have.,I am fairly rewarded for the work I do well.,I feel my work has positive impact on other people.,"At my volunteer activity, I feel strong and vigorous.",I feel emotionally drained from my volunteer activity.,I feel frustrated by my volunteer activity.,What year were you born in?,What is your gender?,Team Name
0,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neutral,...,Strongly agree,Strongly agree,Somewhat disagree,Strongly agree,Sometimes,Rarely,Sometimes,NaN,NaN,Gambian RC
1,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Somewhat agree,...,Strongly agree,Neutral,Neutral,Strongly agree,Every time,Sometimes,Sometimes,NaN,NaN,Gambian RC
2,Somewhat agree,Somewhat agree,Somewhat agree,Neutral,Somewhat agree,Neutral,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,...,Somewhat agree,Somewhat agree,Neutral,Somewhat agree,Often,Rarely,Almost never,NaN,NaN,Gambian RC
3,Strongly agree,Neutral,Neutral,Somewhat disagree,Somewhat agree,Strongly agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,...,Somewhat agree,Neutral,Somewhat agree,Strongly agree,Very often,Rarely,Sometimes,NaN,NaN,Gambian RC
4,Somewhat agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree,...,Strongly agree,Somewhat disagree,Somewhat disagree,Strongly agree,Every time,Almost never,Almost never,NaN,NaN,Gambian RC

In [29]:
# Open the Raw Moti Data CSV file as sent by CE
#          Volunteers:  answers-volunteers.csv
#          staff: answers-staff.csv  (see below)
# The csv file is corrupted by MS Excel so it needs to be opened in notepad and saved as a .txt file

df = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/answers-volunteers.txt", sep=",")

In [6]:
# STAFF: Open the Raw Moti Data CSV file as sent by CE

df = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/answers-staff.txt", sep=",")

In [30]:
df.shape

(7341, 30)

In [31]:
# STEP 1
# STEP 1.1 Create country variable based on Team Name
# use this snippet for volunteers and staff datasets

# Create a dictionary of team names and corresponding countries for those we already know
team_country_dict = {
    #Moti teams to country dictionary - volunteers
     'Gambian RC':  'Gambia',
     'Ethiopian RC':  'Ethiopia',
     'Austrian RC':  'Austria',
     'East Swiss RC':  'Switzerland',
     'West Swiss RC':  'Switzerland',
     'Mongolian RC':  'Mongolia',
     'Latam RC':  'Ecuador',
     'Бишкек 1':  'Kyrgyzstan',
     'Команда "Талас 1" до 30':  'Kyrgyzstan',
     'Чуй до 30':  'Kyrgyzstan',
     'Команда "Зуура 2"':  'Kyrgyzstan',
     'Иссык-Куль2':  'Kyrgyzstan',
     'Команда "Tokmok 1"':  'Kyrgyzstan',
     'Ош-2':  'Kyrgyzstan',
     'Жалал-Абад <30':  'Kyrgyzstan',
     'Команда "Баткен 1"': 'Kyrgyzstan',
     'Test team 2':  'test',
     'Ош':  'Kyrgyzstan',
     'Бишкек 2':  'Kyrgyzstan',
     'Талас 2 30 +':  'Kyrgyzstan',
     'Команда ЧОП 30+':  'Kyrgyzstan',
     'batken 2':  'Kyrgyzstan',
     'Жалал-Абад >30':  'Kyrgyzstan',
     'undcotest1':  'test',
     'TEST xxx':  'test',
     'MX-SONORA-PUERTO PEÑASCO-VOLUNTARIADO N°1':  'Mexico',
     'Espanhol 2.0':  'DK',
     'CRMSJR TEAM':  'Mexico',
     'Comisionados Nacionales':  'Mexico',
     'Cruz Roja Mexicana Delegación Tlalnepantla: Capacitación, Socorros, Voluntariado y Veteranos.':  'Mexico',
     'Edo. Méx Nau Socorros':  'Mexico',
     'Cruz Roja Mexicana Delegación Tlalnepantla: Enfermería, Juventud y Servicio Médico.':  'Mexico',
     'Cruz Roja Cuautla':  'Mexico',
     'Voluntariado capacitación':  'Mexico',
     'Voluntariado Chiapa de corzo':  'Mexico',
     'QROEST1':  'Mexico',
     'Las margaritas':  'Mexico',
     'CRUZ ROJA MEXICANA  DEL.TEXCOCO':  'Mexico',
     'voluntariado social':  'Mexico',
     'Delg. Cd. Mendoza':  'Mexico',
     'QROEST2':  'Mexico',
     'Cruz Roja Mexicana BC':  'Mexico',
     'cruz roja empalme':  'Mexico',
     'Socorros/Enf/Capacitación Coatza':  'Mexico',
     'Córdoba ':  'Mexico',
     'Huixquilucan 1':  'Mexico',
     'MX-MÉXICO-LA PERLA-EQUIPO1':  'Mexico',
     'Delg. Ocuilan, Tenancingo, Tejupilco y Ixtapan de la Sal "Coord. Socorros"':  'Mexico',
     'Huixqui 2':  'Mexico',
     'CRISTALES':  'Mexico',
     'Cruz Roja San Miguel de Allende':  'Mexico',
     'LAZARO CARDENAS 1':  'Mexico',
     'Delg. Ocuilan, Tenancingo, Tejupilco y Ixtapan de la Sal "Administrativos / Servicios Médicos"':  'Mexico',
     'MX_VERACRUZ_COATEPEC_EQUIPO1':  'Mexico',
     'CHALCO':  'Mexico',
     'Edo. Méx Nau ESC./ ENF/SMEDICO':  'Mexico',
     'Edo. Méx Adm/Vete/Juve':  'Mexico',
     'CHALCO 2':  'Mexico',
     'Socorros Toluca ':  'Mexico',
     'Cuernavaca Voluntarios':  'Mexico',
     'Cruz Roja Delegacion Apaseo':  'Mexico',
     'Juventud':  'Mexico',
     'Cruz Roja Valle de Chalco y Amecameca':  'Mexico',
     'FAMILIA ROJA COACALCO':  'Mexico',
     'Socorros ':  'Mexico',
     'Иссык-Куль1 ':  'Kyrgyzstan',
     'SANTIAGO PAPASQUIARO':  'Mexico',
     'Cd. Constitución B.C.S., México':  'Mexico',
     'Jojutla':  'Mexico',
     'MX_MICH_ESTATAL_001':  'Mexico',
     'VOLUNTARIOS CRUZ ROJA':  'Mexico',
     'MX-MICH-MORELIA-001':  'Mexico',
     'Delegación La Paz':  'Mexico',
     'MX-MICH-MORELIA-002':  'Mexico',
     'MX-MICH-MORELIA-003':  'Mexico',
     'MX-MICH-MORELIA-004':  'Mexico',
     'MX_MICH_ESTATAL_002':  'Mexico',
     'MX_MICH_LAPIEDAD_001':  'Mexico',
     'VOLUNTARIOS IZCALLI':  'Mexico',
     'MX_MICH_ESTATAL_003':  'Mexico',
     ' ATIZAPAN DE ZARAGOZA':  'Mexico',
     'Delegación Lázaro Cárdenas 1':  'Mexico',
     'Capacitacion Alumnos':  'Mexico',
     'MX_MICH_ESTATAL_004':  'Mexico',
     'Delegación Lázaro Cárdenas 2':  'Mexico',
     'Delegación Lázaro Cárdenas 3':  'Mexico',
     '7MA GENERACION DE LA ENTUM':  'Mexico',
     'VOLUNTARIOS DE SOCORROS':  'Mexico',
     'Team "Зуура" (retrieved)':  'Kyrgyzstan',
     'Voluntariado':  'Mexico',
     'International Cooperation Team':  'DK',
     'VM test T1':  'test',
     'SPR Tampere hallitus ja työntekijät 2021':  'Finland',
     'SPR Kaarinan-Piikkiön Osasto':  'Finland',
     'Rauman osaston hallitus':  'Finland',
     'SPR Ksnk:n osaston hallitus':  'Finland',
     'SPR Sodankylä hallitus':  'Finland',
     'SPR Varkaus hallitus':  'Finland',
     'Keski-Helsingin osaston hallitus ':  'Finland',
     'Kuusamon SPR-tiimi':  'Finland',
     'Yliopiston ensiapu- ja valmiusryhmä':  'Finland',
     'Ensiapuryhmä Keski-Espoo':  'Finland',
     'sub Team Monday':  'Lebanon',
     'VM Pilot Test':  'test',
     'EMS DMO21':  'Lebanon',
     'EMS 103 Station':  'Lebanon',
     'EMS 203 Station':  'Lebanon',
     'EMS 505 Station':  'Lebanon',
     'EMS 205 Station':  'Lebanon',
     'EMS 601 Station':  'Lebanon',
     'Volunteering Alliance Review':  'IFRC network',
     'VLP Alumni on Moti':  'IFRC network',
     'TEST-TEAM RDL':  'test',
     'Test':  'test',
     'TRY GREEK TRANSLATION':  'test',
     'Rotkreuz Fahrdienst Fricktal':  'Switzerland',
     'VLP 2022':  'IFRC network',
     'JCV in Action':  'Portugal',
     'Cruz Roja Paraguaya Filial Itapua Miembros de la Directiva':  'Paraguay',
     'JCV Voluntári@s':  'Portugal',
     'ΕΛΛΗΝΙΚΟ ΜΟΤΙ ΕΘΕΛΟΝΤΕΣ':  'Cyprus',
     'MRC AWP 2022':  'DK',
     'Equipo Lider Taller de Voluntariado':  'Spain',
     'SRK-Fachtagung':  'Switzerland',
     'CRCS volunteers 1':  'Cyprus',
     'CRCS volunteers 2':  'Cyprus',
     'DGVS':  'DK',
     "Imashela's Team":  'DK',
     'Voluntarios Navy':  'DK',
     'TTRCS Tobago Volunteers':  'Trinidad and Tobago',
     'LRCY.23 - Furn El Chebbak':  'Lebanon',
     'LRC - Testing 2023':  'Lebanon',
     'JCV Ponto Vermelho':  'Portugal',
     '23.502 Saturday':  'Lebanon',
     '23.502 Monday':  'Lebanon',
     '23.502 Tuesday':  'Lebanon',
     '23.502 Wednesday':  'Lebanon',
     '23.502 Thursday':  'Lebanon',
     'DRC Team':  'DK',
     'LRCY.23 - Rachaya':  'Lebanon',
     'LRCY.23 - Zahle':  'Lebanon',
     '23.502 Friday':  'Lebanon',
     'VOL VERACRUZ':  'Mexico',
     '23.604 Friday':  'Lebanon',
     '23.304 EMS':  'Lebanon',
     'LRYC -Jbeil':  'Lebanon',
     'LRCY.23 - UL New Volunteers':  'Lebanon',
     'LRCY.23 - UL GA':  'Lebanon',
     'LRCY.23 - Antelias':  'Lebanon',
     '23.206 Monday':  'Lebanon',
     '23.206 Tuesday':  'Lebanon',
     '23.206 Wednesday':  'Lebanon',
     '23.206 Thursday':  'Lebanon',
     'LRC hrar 508':  'Lebanon',
     'LRCY.23 - Sour':  'Lebanon',
     'LRCY.23 - Baabda':  'Lebanon',
     'LRCY.23 - Haigazian':  'Lebanon',
     '23.104 EMS':  'Lebanon',
     'LRCY.23 - Rayak':  'Lebanon',
     'AUST':  'Lebanon',
     'LRC.23 AUB':  'Lebanon',
     'LRCY.23 - BAU':  'Lebanon',
     'hvp.batroun@gmail.com':  'Lebanon',
     'y&h.batroun@gmail.com':  'Lebanon',
     'env.batroun@gmail.com':  'Lebanon',
     'LRCY.23 - Bauchrieh':  'Lebanon',
     'LRCY.23 - Dahieh':  'Lebanon',
     'LRCY.23 - Jezzine':  'Lebanon',
     'LRCY.23 - Tripoli':  'Lebanon',
     'LRCY.23 - Falougha':  'Lebanon',
     'LRCY.23 - Koura':  'Lebanon',
     'LRC- Youth Jounieh':  'Lebanon',
     'JCV Geração Tecla':  'Portugal',
     'LRCY.23 - Beit Mery ':  'Lebanon',
     'Manolos':  'Mexico',
     'Marsillon':  'test',
     'Бишкек 1 ':  'Kyrgyzstan',
     'TEST TEAM':  'test',
     'Prueba':  'test',
     'Damas/Adm/Juventud Coatza':  'Mexico',
     'test':  'test',
     'PMI Kabupaten Kapuas':  'Indonesia',
     'TestTeamOÖRK':  'test',
     'جابر':  'Lebanon',
     'R.C':  'DK',
     'SVGRC ':  'DK',
     'ЖАОП НОКП':  'Serbia',
     'IFRC Test':  'Global',
     'Volunteering-Team':  'test',
     'TEST_RS_FRI':  'test',
     'DACHL':  'DK',
     'VM':  'DK',
     'Comite Municipal':  'DK',
     'EQ1 605':  'Lebanon',
     'BcharriYouth2023':  'Lebanon',
     '606':  'Lebanon',
     'LRCY.23 - Jbeil':  'Lebanon',
     '508hrar':  'Lebanon',
     '23.EMS 508':  'Lebanon',
     'LRCY.23 - AUST':  'Lebanon',
     'Montrouge':  'DK',
     'LRCY.23 - Nabatieh':  'Lebanon',
     'IT GS SRK':  'Switzerland',
     '23.EMS 703':  'Lebanon',
     'LRCY.23 - Saida':  'Lebanon',
     'LRCY.23 - Beirut':  'Lebanon',
     'LRCY.23 - Bchare':  'Lebanon',
     'LRCY.23 - Chouf':  'Lebanon',
     '23.604 Monday':  'Lebanon',
     '23.604 Tuesday':  'Lebanon',
     '23.604 Wednesday':  'Lebanon',
     '23.604 Thursday':  'Lebanon',
     'LRCY.23 - Marjeyoun':  'Lebanon',
     'LRCY.23 - Hasbaya':  'Lebanon',
     'volu':  'test',
     '23.403 Monday':  'Lebanon',
     '23.403 Tuesday':  'Lebanon',
     '23.403 Wednesday':  'Lebanon',
     '23.403 Thursday':  'Lebanon',
     '23.403 Friday':  'Lebanon',
     '23.403 Sunday':  'Lebanon',
     'Team 1 101':  'Lebanon',
     'LRCY.23 - Zahrani':  'Lebanon',
     'LRCY.23 - Jal el dib':  'Lebanon',
     'LRCY.23 - LAU':  'Lebanon',
     'Convencion Nacional VOL':  'Mexico',
    'JCV SAFE':  'Portugal',
     'Voluntarios Cruz Roja Salvadoreña ': 'El Salvador',
     '23.EMS 704':  'Lebanon',
     'Test Voluntariado Morelos': 'Mexico',
     'Test_2023': 'test',
     'SRK-Rollstuhlfahrdienst_Freiamt':  'Switzerland',
     'Voluntarios Profesionales TGA':  'DK',
     'JCV WAN':  'Portugal',
     'Rotkreuz Fahrdienst Aarau':  'Switzerland',
     'SuperMario Motiro':  'test',
 'Moti': 'DK',
 '23.508 EMS':  'Lebanon',
 'LRCY.23 - AUB':  'Lebanon',
 'LRCY.23 - Batroun.HVP':  'Lebanon',
 'LRCY.23 - Batroun.YH':  'Lebanon',
 'LRCY.23 - Batroun.Env':  'Lebanon',
 'LRCY.23 - Jounieh':  'Lebanon',
 '23.703 EMS':  'Lebanon',
 '23.101 EMS':  'Lebanon',
 '23.704 EMS':  'Lebanon',
 'Chui volunteers':  'Kyrgyzstan',
 'Bishkek volunteers':  'Kyrgyzstan',
 'Osh volunteers':  'Kyrgyzstan',
 'Issyk Kul volunteers':  'Kyrgyzstan',
 'Tokmok volunteers':  'Kyrgyzstan',
 'Batken volunteers':  'Kyrgyzstan',
 'Talas volunteers':  'Kyrgyzstan',
 'Rotkreuz Fahrdienst Freiamt':  'Switzerland',
 'Rotkreuz Besuchs- und Begleitdienst AARAU':  'Switzerland',
 'Rotkreuz Besuchs- und Begleitdienst BADEN':  'Switzerland',
 'Rotkreuz Besuchs- und Begleitdienst FRICK':  'Switzerland',
 'Rotkreuz Besuchs- und Begleitdienst FREIAMT':  'Switzerland',
 'Djalal Abad Volunteers':  'Kyrgyzstan',
 'Naryn Volunteers':  'Kyrgyzstan',
 'Coord. Locales Vol Chihuahua':  'Mexico',
 'CD Choluteca ':  'Honduras',
 'CD Nacaome ':  'Honduras',
 'CM Catacamas ':  'Honduras',
 'CM San Francisco de la Paz':  'Honduras',
 'CM San Lorenzo':  'Honduras',
 'CM El Paraíso ':  'Honduras',
 'CM Danlí ':  'Honduras',
 'CM Talanga ':  'Honduras',
 'CM Perspire ':  'Honduras',
 'CM Taulabé':  'Honduras',
 'CD Comayagua':  'Honduras',
 'CM Camasca':  'Honduras',
 'CM Jesús de Otoro':  'Honduras',
 'CD La Paz':  'Honduras',
 'CD La Esperanza':  'Honduras',
 'CM Siguatepeque':  'Honduras',
 'CD Juticalpa':  'Honduras',
 'Rotkreuz Fahrdienst Baden':  'Switzerland',

        #Moti teams to country dictionary - staff
     'IFRC':  'Global',
     'Wlad Test':  'test',
     'NSKPD 2021':  'Global',
     'Cruz Roja Mexicana Delegación Tlalnepantla: Administración, Captación de Fondos, Servicios Generales y Alumnos.':  'Mexico',
     'LAZARO CARDENAS 2':  'Mexico',
     'CRM_DIxtapaluca':  'Mexico',
     'LtC Part II - Team Moti':  'IFRC network',
     'MX-MEXICO-LA PERLA-EQUIPO2':  'Mexico',
     'Socorros Remunerados':  'Mexico',
     'Administración':  'Mexico',
     'Área Médica':  'Mexico',
     'undconsorten':  'Corporate',
     'VEE Superstars':  'DK',
     'Learning to Change CRCS Team':  'Cyprus',
     'FRC Senior management team':  'Finland',
     'Sustainability Team':  'DK',
     'CREPD':  'El Salvador',
     'FRC MOTI-team':  'Finland',
     'CRI Team':  'DK',
     'Restoring Family Links – Developing by Learning and Sharing Finland, Denmark, Turkey':  'IFRC network',
     'Finnish Red Cross Management group':  'Finland',
     'Johtamisvalmennuspilotti 2021':  'Finland',
     'Åboland':  'Finland',
     'Piiritoimisto':  'Finland',
     'Valmiusyksikkö':  'Finland',
     'PAUL':  'DK',
     'Reskontrat':  'Finland',
     'SPR KT IT':  'DK',
     'Viestinnän sisällöt -tiimi':  'Finland',
     'VOK-Sote':  'Finland',
     'Netzwerk Freiwilligkeit - Test':  'test',
     'Team Vol & Scu':  'DK',
     'Learning to Change 11 Feb 2022':  'Cyprus',
     'JCV Colaborador@s':  'Portugal',
     'Polimnios & Antoniou Law':  'Corporate',
     'OPPS':  'DK',
     'CRCS staff 1':  'Cyprus',
     'CRCS staff 2':  'Cyprus',
     'NSDS managers':  'Global',
     'CinémaBio':  'Corporate',
     'VDT Andalucía':  'Spain',
     'CKD unit 2023':  'Global',
     'VYED':  'Global',
     'Alpha':  'DK',
 'RedCloud':  'DK',
 'prova 2 ':  'test',
 'SPR Kotimaan johto':  'Finland',
 'QARMA-enheten':  'DK',
 'Ketjuohjaus':  'Finland',
 'Henkilöstöpalvelut, VP':  'Finland',
 'SDG Program Team':  'test',
 'STAFF-VOLUNTEERS':  'test',
 'AF test':  'test',
 'VM2':  'test',
 'Prueba ocac':  'test',
 'prueba2':  'test',
 'prueba':  'test',
 'Coordinators':  'DK',
 'Delegación':  'DK',
 'UPDI':  'DK',
 'Secretaria de Desarrollo Humano y Organizativo':  'Mexico',
 'Organizational Transformation':  'Global',
 'Secretaría de Emergencias y Desastres':  'Mexico',
 'Secretaria de Finanzas':  'Mexico',
 'Secretaria de Salud y Educación':  'Mexico',
 'VOLUNTARIADO - PUEBLA':  'Mexico',
 'Coordinación Gral Filial':  'DK',
 'Policy and Disaster Law Unit':  'Global',
 'Equipo Cruz Roja Argentina':  'Argentina',
 'Empleados CRH-HN':  'Honduras',
 'Test for Intranet':  'test',
 'IFRC Intranet core team':  'Global',

    
    # Add more team names and countries as needed
}

# Create an empty 'country' column
df['country'] = ''

# Iterate over unique 'Team Name' values and prompt user for country input
for team_name in df['Team Name'].unique():
    # Check if the team name is in the dictionary
    if team_name in team_country_dict:
        country = team_country_dict[team_name]
    else:
        # If the team name is not in the dictionary, prompt for user input
        country = input(f"Enter the country for Team Name '{team_name}': ")
    
    df.loc[df['Team Name'] == team_name, 'country'] = country
    
# STEP 1.2 - dropping illigitimate ballots

#  1.2.1 select and check all the ballots where country = test
dropped_test_teams_df = df[df['country'] == 'test'][['country', 'Team Name']].copy()

# 1.2.2 select and check all the ballots where country = 'Corporate'
dropped_Corporate_teams_df = df[df['country'] == 'Corporate'][['country', 'Team Name']].copy()

print(dropped_test_teams_df)
dropped_test_teams_df.shape
print(dropped_Corporate_teams_df)
dropped_Corporate_teams_df.shape

# STEP 1.2 - dropping illigitimate ballots
# 1.2.3      drop illigitimate ballots from test and corporate teams.
df = df.drop(df[df.country == 'test'].index)
df = df.drop(df[df.country == 'Corporate'].index)
df.shape

     country              Team Name
1322    test              Marsillon
1402    test             undcotest1
1403    test             undcotest1
1404    test             undcotest1
1405    test              TEST TEAM
1406    test              TEST TEAM
1407    test               TEST xxx
1408    test               TEST xxx
1439    test                 Prueba
1648    test                 Prueba
1649    test                 Prueba
1650    test                 Prueba
2458    test                   test
2491    test           TestTeamOÖRK
2492    test           TestTeamOÖRK
2609    test          VM Pilot Test
2610    test          VM Pilot Test
2611    test          VM Pilot Test
2612    test          VM Pilot Test
2613    test          VM Pilot Test
2980    test          TEST-TEAM RDL
3015    test          TEST-TEAM RDL
3016    test          TEST-TEAM RDL
3017    test          TEST-TEAM RDL
3018    test          TEST-TEAM RDL
3019    test          TEST-TEAM RDL
3020    test          TEST-TEAM RDL
3021    test          TEST-TEAM RDL
3024    test      Volunteering-Team
3025    test      Volunteering-Team
3026    test      Volunteering-Team
3027    test                   Test
3028    test                   Test
3029    test                   Test
3030    test                   Test
3031    test                   Test
3032    test                   Test
3033    test                   Test
3034    test                   Test
3035    test                   Test
3036    test  TRY GREEK TRANSLATION
3037    test  TRY GREEK TRANSLATION
3038    test  TRY GREEK TRANSLATION
3039    test            TEST_RS_FRI
3190    test  TRY GREEK TRANSLATION
3191    test  TRY GREEK TRANSLATION
3192    test  TRY GREEK TRANSLATION
3343    test                   Test
3344    test                   Test
3345    test                   Test
3346    test                   Test
3347    test                   Test
4892    test                   volu
5263    test              Test_2023
6014    test    Prueba voluntariado
6178    test               testtest
6179    test       Test "You" label
6180    test       Test "You" label
Empty DataFrame
Columns: [country, Team Name]
Index: []

(7283, 31)

In [32]:
# STEP 1.3v : recoding answers from string to integer in order to compute scores and means
# FOR VOLUNTEER DATA
# 1.3.1v Replacing string values with integers to compute scores and means

# Define the mapping of categorical values to integers
mapping = {
    'Strongly disagree': 1,
    'Somewhat disagree': 2,
    'Neutral': 3,
    'Somewhat agree': 4,
    'Strongly agree': 5
}

# For the 24 first columns, transform the categorical column into integers using the mapping

for col in df.columns[:24]:
    df[col] = df[col].replace(mapping)

#replace string values with real numbers 1-7 to compute means for frequency variable, by teams
# At my volunteer activity, I feel strong and vigorous      column[24].      --> positive outcome = 7 so reverse order
# I feel emotionally drained from my work. column[25]      ---> positive outcome = 1
# I feel frustrated by my work.            column[26]      ---> positive outcome = 1

# for volunteers: 1="every time" and for staff: 1="every day" - correct mapping below accordingly.

# At work, I feel strong and vigorous      column[24].      --> positive outcome = 7 so reverse order

mapping = {
    "Every time": 7,
    "Very often": 6,
    "Often": 5,
    "Sometimes": 4,
    "Rarely": 3,
    "Almost never": 2,
    "Never": 1
} 

df['At my volunteer activity, I feel strong and vigorous.'] = df['At my volunteer activity, I feel strong and vigorous.'].replace(mapping)

# 'I feel emotionally drained from my volunteer activity.
# 'I feel frustrated by my volunteer activity.
#mapping = {
#    "Every time": 1,
#    "Very often": 2,
#    "Often": 3,
#    "Sometimes": 4,
#    "Rarely": 5,
#    "Almost never": 6,
#    "Never": 7
#}

df['I feel emotionally drained from my volunteer activity.'] = df['I feel emotionally drained from my volunteer activity.'].replace(mapping)
df['I feel frustrated by my volunteer activity.'] = df['I feel frustrated by my volunteer activity.'].replace(mapping)

df.head()

C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\2580022921.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace(mapping)
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\2580022921.py:38: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['At my volunteer activity, I feel strong and vigorous.'] = df['At my volunteer activity, I feel strong and vigorous.'].replace(mapping)
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\2580022921.py:52: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['I feel emotionally drained from my volunteer activity.'] = df['I feel emotionally drained from my volunteer activity.'].replace(mapping)
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\2580022921.py:53: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['I feel frustrated by my volunteer activity.'] = df['I feel frustrated by my volunteer activity.'].replace(mapping)

,I feel like I can be myself at my volunteer activity.,The tasks I must do at my volunteer activity are in line with what I really want to do.,I am free to express my ideas and opinions on the volunteer activity.,I really master my tasks at my volunteer activity.,I feel competent at my volunteer activity.,I have been able to learn interesting new skills on my volunteer activity.,"At my volunteer activity, I feel part of a group.","At my volunteer activity, I can talk with people about things that really matter to me.",People at my volunteer activity care about me.,"Considering everything, I am satisfied with my volunteer activity.",...,I am fairly rewarded considering the responsibilities I have.,I am fairly rewarded for the work I do well.,I feel my work has positive impact on other people.,"At my volunteer activity, I feel strong and vigorous.",I feel emotionally drained from my volunteer activity.,I feel frustrated by my volunteer activity.,What year were you born in?,What is your gender?,Team Name,country
0,5,5,5,4,5,5,5,5,5,3,...,5,2,5,4,3,4,NaN,NaN,Gambian RC,Gambia
1,5,4,5,4,5,5,4,4,5,4,...,3,3,5,7,4,4,NaN,NaN,Gambian RC,Gambia
2,4,4,4,3,4,3,4,4,4,4,...,4,3,4,5,3,2,NaN,NaN,Gambian RC,Gambia
3,5,3,3,2,4,5,4,4,4,4,...,3,4,5,6,3,4,NaN,NaN,Gambian RC,Gambia
4,4,5,5,5,5,5,5,4,5,4,...,2,2,5,7,2,2,NaN,NaN,Gambian RC,Gambia

In [9]:
# STEP 1.3s : recoding answers from string to integer in order to compute scores and means
# FOR STAFF DATA
# 1.3.1s Replacing string values with integers to compute scores and means

# Define the mapping of categorical values to integers
mapping = {
    'Strongly disagree': 1,
    'Somewhat disagree': 2,
    'Neutral': 3,
    'Somewhat agree': 4,
    'Strongly agree': 5
}

# For the 24 first columns, transform the categorical column into integers using the mapping

for col in df.columns[:24]:
    df[col] = df[col].replace(mapping)

#replace string values with real numbers 1-7 to compute means for frequency variable, by teams
# At work, I feel strong and vigorous      column[24].      --> positive outcome = 7 so reverse order
# I feel emotionally drained from my work. column[25]      ---> positive outcome = 1
# I feel frustrated by my work.            column[26]      ---> positive outcome = 1

# for volunteers: 1="every time" and for staff: 1="every day" - correct mapping below accordingly.

# At work, I feel strong and vigorous      column[24].      --> positive outcome = 7 so reverse order

mapping = {
    "Every day": 7,
    "Very often": 6,
    "Often": 5,
    "Sometimes": 4,
    "Rarely": 3,
    "Almost never": 2,
    "Never": 1
}

df['At work, I feel strong and vigorous.'] = df['At work, I feel strong and vigorous.'].replace(mapping)
df['I feel emotionally drained from my work.'] = df['I feel emotionally drained from my work.'].replace(mapping)
df['I feel frustrated by my work.'] = df['I feel frustrated by my work.'].replace(mapping)

# I feel emotionally drained from my work.
# I feel frustrated by my work.
#mapping = {
#    "Every day": 1,
#    "Very often": 2,
#    "Often": 3,
#    "Sometimes": 4,
#    "Rarely": 5,
#    "Almost never": 6,
#    "Never": 7
#}

#df['I feel emotionally drained from my work.'] = df['I feel emotionally drained from my work.'].replace(mapping)
#df['I feel frustrated by my work.'] = df['I feel frustrated by my work.'].replace(mapping)

C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\1478050248.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace(mapping)
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\1478050248.py:38: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['At work, I feel strong and vigorous.'] = df['At work, I feel strong and vigorous.'].replace(mapping)
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\1478050248.py:39: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['I feel emotionally drained from my work.'] = df['I feel emotionally drained from my work.'].replace(mapping)
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21488\1478050248.py:40: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['I feel frustrated by my work.'] = df['I feel frustrated by my work.'].replace(mapping)

In [33]:
# FOR VOLUNTEER DATA
# 1.3.2v We now create the scores for each dimension, e.g. autonomy, belonging, etc.
# NB: Change questions for staff data

#  Before computing the well-being score 
#  we need to recode the two following columns so that the positive outcomes get the higher scores
# 'I feel emotionally drained from my volunteer activity.
# 'I feel frustrated by my volunteer activity.

mapping = {
    7: 1,
    6: 2,
    5: 3,
    4: 4,
    3: 5,
    2: 6,
    1: 7
}

df['I feel emotionally drained from my volunteer activity.'] = df['I feel emotionally drained from my volunteer activity.'].replace(mapping)
df['I feel frustrated by my volunteer activity.'] = df['I feel frustrated by my volunteer activity.'].replace(mapping)

# Specify the column names for Well-being
column_names = [
    'At my volunteer activity, I feel strong and vigorous.',
    'I feel emotionally drained from my volunteer activity.',
    'I feel frustrated by my volunteer activity.'
]

# Calculate the mean row by row and assign it to a new column 'Well-being'
df['Well-being'] = df[column_names].mean(axis=1)

# Rescale the 'Well-being' values from a range of 1-7 to 1-5 and runds the result
df['Well-being'] = (df['Well-being'] - 1) * (4 / 6) + 1
df['Well-being'] = df['Well-being'].round(1)

## recode back to original values for the two "negative" variables
#  after computing the well-being score for "logical" correlation analysis
#  we need to recode the two following columns so that the negative outcomes get the higher scores
# 'I feel emotionally drained from my volunteer activity.
# 'I feel frustrated by my volunteer activity.

mapping = {
    7: 1,
    6: 2,
    5: 3,
    4: 4,
    3: 5,
    2: 6,
    1: 7
}

df['I feel emotionally drained from my volunteer activity.'] = df['I feel emotionally drained from my volunteer activity.'].replace(mapping)
df['I feel frustrated by my volunteer activity.'] = df['I feel frustrated by my volunteer activity.'].replace(mapping)



# Specify the column names for Engagement
column_names = [
    'If I could choose, I will be volunteering one year from now.',
    'The team has a great deal of personal meaning for me.',
    'Considering everything, I am satisfied with my volunteer activity.',
    'I share my ideas with others to improve the team.',
    'The things that I value in life are very similar to the things that the team values.'
]

# Calculate the mean row by row and assign it to a new column 'Engagement'
df['Engagement'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for Autonomy
column_names = [
    'I feel like I can be myself at my volunteer activity.',
    'The tasks I must do at my volunteer activity are in line with what I really want to do.',
    'I am free to express my ideas and opinions on the volunteer activity.'
]

# Calculate the mean row by row and assign it to a new column 'Autonomy'
df['Autonomy'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for belonging
column_names = [
    'At my volunteer activity, I feel part of a group.',
    'At my volunteer activity, I can talk with people about things that really matter to me.',
    'People at my volunteer activity care about me.'
]

# Calculate the mean row by row and assign it to a new column 'Belonging'
df['Belonging'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for Competence
column_names = [
    'I really master my tasks at my volunteer activity.',
    'I feel competent at my volunteer activity.'
]

# Calculate the mean row by row and assign it to a new column 'Competence'
df['Competence'] = df[column_names].mean(axis=1).round(1)



# Specify the column names for Needs
column_names = [
    'I feel like I can be myself at my volunteer activity.',
    'The tasks I must do at my volunteer activity are in line with what I really want to do.',
    'I am free to express my ideas and opinions on the volunteer activity.',
    'At my volunteer activity, I feel part of a group.',
    'At my volunteer activity, I can talk with people about things that really matter to me.',
    'People at my volunteer activity care about me.',
    'I really master my tasks at my volunteer activity.',
    'I feel competent at my volunteer activity.'
]


# Calculate the mean row by row and assign it to a new column 'Needs'
df['Needs'] = df[column_names].mean(axis=1).round(1)


# Specify the column names for Leadership
column_names = [
    'My supervisor listens to how I would like to do things.',
    'I feel understood by my supervisor.',
    'My supervisor encourages me to ask questions.'
]

# Calculate the mean row by row and assign it to a new column 'Leadership'
df['Leadership'] = df[column_names].mean(axis=1).round(1)


# Specify the column names for 'Management'
column_names = [
    'I have the opportunity to develop my social network in my volunteer activity.',
    'I have been able to learn interesting new skills on my volunteer activity.',
    'I am fairly rewarded considering the responsibilities I have.',
    'I am fairly rewarded for the work I do well.',
    'My family, friends and my neighborhood appreciate the work I do for the team.',
    'I feel my work has positive impact on other people.'
]

# Calculate the mean row by row and assign it to a new column 'Management'
df['Management'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for 'Returns'
column_names = [
    'I have the opportunity to develop my social network in my volunteer activity.',
    'I have been able to learn interesting new skills on my volunteer activity.'
]

# Calculate the mean row by row and assign it to a new column 'Returns'
df['Returns'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for 'Rewards'
column_names = [
    'I am fairly rewarded considering the responsibilities I have.',
    'I am fairly rewarded for the work I do well.'
]

# Calculate the mean row by row and assign it to a new column 'Rewards'
df['Rewards'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for 'Status'
column_names = [
    'My family, friends and my neighborhood appreciate the work I do for the team.',
    'I feel my work has positive impact on other people.'
]

# Calculate the mean row by row and assign it to a new column 'Status'
df['Status'] = df[column_names].mean(axis=1).round(1)

In [10]:
# FOR STAFF DATA
# # 1.3.2s We now create the scores for each dimension, e.g. autonomy, belonging, etc.
# NB: Change questions for staff data

#  Before computing the well-being score 
#  we need to recode the two following columns so that the positive outcomes get the higher scores
# 'I feel emotionally drained from my volunteer activity.
# 'I feel frustrated by my volunteer activity.

mapping = {
    7: 1,
    6: 2,
    5: 3,
    4: 4,
    3: 5,
    2: 6,
    1: 7
}

df['I feel emotionally drained from my work.'] = df['I feel emotionally drained from my work.'].replace(mapping)
df['I feel frustrated by my work.'] = df['I feel frustrated by my work.'].replace(mapping)

# Specify the column names for Well-being
column_names = [
    'At work, I feel strong and vigorous.',
    'I feel emotionally drained from my work.',
    'I feel frustrated by my work.'
]

# Calculate the mean row by row and assign it to a new column 'Well-being'
df['Well-being'] = df[column_names].mean(axis=1).round(1)

# Rescale the 'Well-being' values from a range of 1-7 to 1-5 and runds the result
df['Well-being'] = (df['Well-being'] - 1) * (4 / 6) + 1
df['Well-being'] = df['Well-being'].round(1)

## recode back to riginal values for the two "negative" variables
#  after computing the well-being score for "logical" correlation analysis
#  we need to recode the two following columns so that the negative outcomes get the higher scores
# 'I feel emotionally drained from my work.
# 'I feel frustrated by my work.

mapping = {
    7: 1,
    6: 2,
    5: 3,
    4: 4,
    3: 5,
    2: 6,
    1: 7
}

df['I feel emotionally drained from my work.'] = df['I feel emotionally drained from my work.'].replace(mapping)
df['I feel frustrated by my work.'] = df['I feel frustrated by my work.'].replace(mapping)


# Specify the column names for Engagement
column_names = [
    'If I could choose, I would continue working in my team one year from now.',
    'The team means a lot to me personally.',
    'Considering everything, I am satisfied with my work.',
    'I share my ideas with others to improve the team.',
    'The things that I value in life are very similar to the things that the team values.'
]

# Calculate the mean row by row and assign it to a new column 'Engagement'
df['Engagement'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for Autonomy
column_names = [
    'I feel like I can be myself at work.',
    'My tasks at my work are in line with what I really want to do.',
    'I am free to express my ideas and opinions on my work.'
]

# Calculate the mean row by row and assign it to a new column 'Autonomy'
df['Autonomy'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for belonging
column_names = [
    'At my work, I feel part of a group.',
    'At my work, I can talk with people about things that really matter to me.',
    'People at my work care about me.'
]

# Calculate the mean row by row and assign it to a new column 'Belonging'
df['Belonging'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for Competence
column_names = [
    'I really master my tasks at work.',
    'I feel competent at work.'
]

# Calculate the mean row by row and assign it to a new column 'Competence'
df['Competence'] = df[column_names].mean(axis=1).round(1)


# Specify the column names for Needs
column_names = [
    'I feel like I can be myself at work.',
    'My tasks at my work are in line with what I really want to do.',
    'I am free to express my ideas and opinions on my work.',
    'At my work, I feel part of a group.',
    'At my work, I can talk with people about things that really matter to me.',
    'People at my work care about me.',
    'I really master my tasks at work.',
    'I feel competent at work.'
]

# Calculate the mean row by row and assign it to a new column 'Needs'
df['Needs'] = df[column_names].mean(axis=1).round(1)



# Specify the column names for Leadership
column_names = [
    'My supervisor listens to how I would like to do things.',
    'I feel understood by my supervisor.',
    'My supervisor encourages me to ask questions.'
]

# Calculate the mean row by row and assign it to a new column 'Leadership'
df['Leadership'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for 'Management'
column_names = [
    'I have the opportunity to develop my social network at work.',
    'I have been able to learn interesting new skills at work.',
    'I am fairly rewarded considering the responsibilities I have.',
    'I am fairly rewarded for the work I do well.',
    'My family and friends appreciate the work I do for the team.',
    'I feel my work has positive impact on other people.'
]

# Calculate the mean row by row and assign it to a new column 'Management'
df['Management'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for 'Returns'
column_names = [
    'I have the opportunity to develop my social network at work.',
    'I have been able to learn interesting new skills at work.'
]

# Calculate the mean row by row and assign it to a new column 'Returns'
df['Returns'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for 'Rewards'
column_names = [
    'I am fairly rewarded considering the responsibilities I have.',
    'I am fairly rewarded for the work I do well.'
]

# Calculate the mean row by row and assign it to a new column 'Rewards'
df['Rewards'] = df[column_names].mean(axis=1).round(1)

# Specify the column names for 'Status'
column_names = [
    'My family and friends appreciate the work I do for the team.',
    'I feel my work has positive impact on other people.'
]

# Calculate the mean row by row and assign it to a new column 'Status'
df['Status'] = df[column_names].mean(axis=1).round(1)

In [34]:
# STEP 1.4   VOLUNTEERS AND STAFF
# Rename columns in their abridged form to allow VOL-STAFF df concatenation
cols_to_update = [
    'Myself',
    'Tasks',
    'Free',
    'Mastery',
    'Competent',
    'Learn',
    'Group',
    'Talk',
    'Care',
    'Satisfied',
    'Meaning',
    'Stay',
    'Ideas',
    'Values',
    'Understands',
    'Encourages',
    'Listens',
    'Network',
    'Friendly',
    'Team',
    'Appreciated',
    'Responsibilities',
    'Work',
    'Impact',
    'Strong',
    'Drained',
    'Frustrated'
    ] + df.columns[27:].tolist()

df.columns = cols_to_update

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7283 entries, 0 to 7340
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Myself                       7283 non-null   int64
 1   Tasks                        7283 non-null   int64
 2   Free                         7283 non-null   int64
 3   Mastery                      7283 non-null   int64
 4   Competent                    7283 non-null   int64
 5   Learn                        7283 non-null   int64
 6   Group                        7283 non-null   int64
 7   Talk                         7283 non-null   int64
 8   Care                         7283 non-null   int64
 9   Satisfied                    7283 non-null   int64
 10  Meaning                      7283 non-null   int64
 11  Stay                         7283 non-null   int64
 12  Ideas                        7283 non-null   int64
 13  Values                       7283 non-null   int64
 14  Understands                  7283 non-null   int64
 15  Encourages                   7283 non-null   int64
 16  Listens                      7283 non-null   int64
 17  Network                      7283 non-null   int64
 18  Friendly                     7283 non-null   int64
 19  Team                         7283 non-null   int64
 20  Appreciated                  7283 non-null   int64
 21  Responsibilities             7283 non-null   int64
 22  Work                         7283 non-null   int64
 23  Impact                       7283 non-null   int64
 24  Strong                       7283 non-null   int64
 25  Drained                      7283 non-null   int64
 26  Frustrated                   7283 non-null   int64
 27  What year were you born in?  0 non-null      float64
 28  What is your gender?         0 non-null      float64
 29  Team Name                    7283 non-null   object
 30  country                      7283 non-null   object
 31  Well-being                   7283 non-null   float64
 32  Engagement                   7283 non-null   float64
 33  Autonomy                     7283 non-null   float64
 34  Belonging                    7283 non-null   float64
 35  Competence                   7283 non-null   float64
 36  Needs                        7283 non-null   float64
 37  Leadership                   7283 non-null   float64
 38  Management                   7283 non-null   float64
 39  Returns                      7283 non-null   float64
 40  Rewards                      7283 non-null   float64
 41  Status                       7283 non-null   float64
dtypes: float64(13), int64(27), object(2)
memory usage: 2.4+ MB

In [36]:
# STEP 1.5v FOR VOLUNTEERS
# Export VOLUNTEER dataframe with composite indicators before grouping by teams
ungrouped_df = df
#ungrouped_df.to_excel('ungrouped_volunteers.xlsx', index=False)
ungrouped_df.to_csv('ungrouped_volunteers.csv', index=False)

In [15]:
# STEP 1.5s FOR STAFF
# Export STAFF dataframe with composite indicators before grouping by teams
#from openpyxl import Workbook
#wb.save("sample.xlsx")
ungrouped_df = df
#ungrouped_df.to_excel('ungrouped_staff.xlsx', index=False)
ungrouped_df.to_csv('ungrouped_staff.csv', index=False)

In [41]:
# STEP 2  -  Create one data frame with all ungrouped data with abridged column names:
# Here we merge the two team summary tables, one for Staff / Volunteer comparisons

# Define the columns to include in the merged dataframe
columns = ['Team Name', 'country', 'Well-being', 'Needs', 'Engagement', 'Autonomy', 'Belonging',
           'Competence', 'Leadership', 'Management', 'Returns',
           'Rewards', 'Status',
    'Myself',
    'Tasks',
    'Free',
    'Mastery',
    'Competent',
    'Learn',
    'Group',
    'Talk',
    'Care',
    'Satisfied',
    'Meaning',
    'Stay',
    'Ideas',
    'Values',
    'Understands',
    'Encourages',
    'Listens',
    'Network',
    'Friendly',
    'Team',
    'Appreciated',
    'Responsibilities',
    'Work',
    'Impact',
    'Strong',
    'Drained',
    'Frustrated']

# Read VOLUNTEER dataframe
df_VOL = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/ungrouped_volunteers.csv")

# Create the table with the desired columns
df_VOL = df_VOL[columns]

# Round the values to one decimal point
df_VOL = df_VOL.round(decimals=1)

# Create a Volunteer dummy variable where Volunteer = 1
df_VOL['Volunteer'] = 1
df_VOL['Staff'] = 0
df_VOL['Position'] = 'Volunteer'

# Read STAFF dataframe
df_STAFF = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/ungrouped_staff.csv")

# Create the table with the desired columns
df_STAFF = df_STAFF[columns]

# Round the values to one decimal point
df_STAFF = df_STAFF.round(decimals=1)

# Create a Staff dummy variable where Staff = 1
df_STAFF['Volunteer'] = 0
df_STAFF['Staff'] = 1
df_STAFF['Position'] = 'Staff'

# Merge the two dataframes
df_VOLandSTAFF = pd.concat([df_VOL, df_STAFF], ignore_index=True)

df_VOLandSTAFF.shape
#df_VOLandSTAFF.to_excel('ungrouped_ALL.xlsx', index=False)
df_VOLandSTAFF.to_csv('ungrouped_ALL.csv', index=False)

In [28]:
# STEP 3: country tables, one for volunteers, one for staff and one for all.
# STEP 3.ALL: country tables, all respondents, volunteers and staff alike.

# 3.1.ALL Group rows by 'Country' and calculate size (count) for each group
df = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/ungrouped_ALL.csv")

## for ALL, i.e. no more distinctions between volunteers and staff
country_df = df.groupby('country').size().reset_index(name='size (n)')

# 3.2.ALL Calculate the mean and median for each column
mean_df = df.groupby('country').mean().reset_index()
median_df = df.groupby('country').median().reset_index()

# 3.3.ALL Count unique occurrences of 'Team Name' for each country
n_teams_df = df.groupby('country')['Team Name'].nunique().reset_index(name='nTeams')

# 3.4.ALL Merge the size (count), mean, median, and nTeams DataFrames
country_df = country_df.merge(n_teams_df, on='country').merge(mean_df, on='country', suffixes=('_mean', '_median')).merge(median_df, on='country', suffixes=('_mean', '_median'))

country_df.shape

TypeError: agg function failed [how->mean,dtype->object]

In [38]:
# STEP 3.5.ALL  Identify, and check illigitamate survey ballots where team size smaller than 4
# there is a logic issue here - we cannot get rid of teams < 4 after groupby country.
# if we groupby country from the teamsALL dataset then the means and averages will be wrong...

df = country_df

# How many small teams are we talking about?
dropped_small_teams_df = df[df['size (n)'] < 4][['country', 'size (n)']].copy()
print(dropped_small_teams_df)
dropped_small_teams_df.shape

      country  size (n)
3     Bahamas         2
15  Indonesia         1
23     Serbia         1

(3, 2)

In [39]:
# STEP 3.6.ALL  Drop from illigitamate teams from country dataset
df = df.drop(df[df['size (n)'] < 4].index)
df.shape

(25, 2)

In [40]:
# STEP 3.7.ALL  Export country-level aggregations to Excel
#country_df.to_excel('country_ALL.xlsx', index=False)
country_df.to_csv('country_ALL.csv', index=False)

In [36]:
# STEP 3: country tables, one for volunteers, one for staff and one for all.
# STEP 3.VOL: country tables volunteers only

# 3.1.VOL Group rows by 'Country' and calculate size (count) for each group
df = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/ungrouped_ALL.csv")

## for VOL, i.e.  volunteers only
# Filter the dataframe for 'Position' = 'Volunteer'
df = df[df['Position'] == 'Volunteer']
country_df = df.groupby('country').size().reset_index(name='size (n)')

# 3.2.VOL Calculate the mean and median for each column
mean_df = df.groupby('country').mean().reset_index()
median_df = df.groupby('country').median().reset_index()

# 3.3.VOL Count unique occurrences of 'Team Name' for each country
n_teams_df = df.groupby('country')['Team Name'].nunique().reset_index(name='nTeams')

# 3.4.ALL Merge the size (count), mean, median, and nTeams DataFrames
country_df = country_df.merge(n_teams_df, on='country').merge(mean_df, on='country', suffixes=('_mean', '_median')).merge(median_df, on='country', suffixes=('_mean', '_median'))

country_df.shape

# STEP 3.5.VOL  Identify, and check illigitamate survey ballots where team size smaller than 4
# there is a logic issue here - we cannot get rid of teams < 4 after groupby country.
# if we groupby country from the teamsALL dataset then the means and averages will be wrong...

df = country_df

# How many small teams are we talking about?
dropped_small_teams_df = df[df['size (n)'] < 4][['country', 'size (n)']].copy()
print(dropped_small_teams_df)
dropped_small_teams_df.shape

# STEP 3.6.VOL  Drop from illigitamate teams from country dataset
df = df.drop(df[df['size (n)'] < 4].index)
df.shape

# STEP 3.7.VOL  Export country-level aggregations to Excel
country_df.to_excel('country_VOL.xlsx', index=False)
country_df.to_csv('country_VOL.csv', index=False)

      country  size (n)
8      Global         2
11  Indonesia         1
18     Serbia         1

C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21140\3162689540.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_df = df.groupby('country').mean().reset_index()
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21140\3162689540.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median_df = df.groupby('country').median().reset_index()

In [37]:
# STEP 3: country tables, one for volunteers, one for staff and one for all.
# STEP 3.STAFF: country tables staff only

# 3.1.STAFF Group rows by 'Country' and calculate size (count) for each group
df = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/ungrouped_ALL.csv")

# Filter the dataframe for 'Position' = 'Staff'
df = df[df['Position'] == 'Staff']
country_df = df.groupby('country').size().reset_index(name='size (n)')

# 3.2.STAFF Calculate the mean and median for each column
mean_df = df.groupby('country').mean().reset_index()
median_df = df.groupby('country').median().reset_index()

# 3.3.VOL Count unique occurrences of 'Team Name' for each country
n_teams_df = df.groupby('country')['Team Name'].nunique().reset_index(name='nTeams')

# 3.4.ALL Merge the size (count), mean, median, and nTeams DataFrames
country_df = country_df.merge(n_teams_df, on='country').merge(mean_df, on='country', suffixes=('_mean', '_median')).merge(median_df, on='country', suffixes=('_mean', '_median'))

country_df.shape

# STEP 3.5.STAFF  Identify, and check illigitamate survey ballots where team size smaller than 4
# there is a logic issue here - we cannot get rid of teams < 4 after groupby country.
# if we groupby country from the teamsALL dataset then the means and averages will be wrong...

df = country_df

# How many small teams are we talking about?
dropped_small_teams_df = df[df['size (n)'] < 4][['country', 'size (n)']].copy()
print(dropped_small_teams_df)
dropped_small_teams_df.shape

# STEP 3.6.STAFF  Drop from illigitamate teams from country dataset
df = df.drop(df[df['size (n)'] < 4].index)
df.shape

# STEP 3.7.STAFF  Export country-level aggregations to Excel
country_df.to_excel('country_STAFF.xlsx', index=False)
country_df.to_csv('country_STAFF.csv', index=False)

Empty DataFrame
Columns: [country, size (n)]
Index: []

C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21140\2991092071.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_df = df.groupby('country').mean().reset_index()
C:\Users\gabriel.pictet\AppData\Local\Temp\ipykernel_21140\2991092071.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median_df = df.groupby('country').median().reset_index()

In [42]:
# STEP 4: create dataframe where one row is one team

# STEP 4.1 Group rows by 'Team Name' and calculate size (count) for each team
df = pd.read_csv("C:/Users/gabriel.pictet/Documents/Gabriel/REAL/Moti/Moti data/ungrouped_ALL.csv")
team_df = df.groupby('Team Name').size().reset_index(name='size (n)')

# STEP 4.2  Calculate the mean and median for each column
mean_df = df.groupby('Team Name').mean().reset_index()
#median_df = df.groupby('Team Name').median().reset_index()

# STEP 4.3  Merge the size (count), mean and country DataFrames
team_df = team_df.merge(mean_df, on='Team Name').merge(df[['Team Name', 'country', 'Position']].drop_duplicates(), on='Team Name')

# STEP 4.3  Merge the size (count), mean, median, and country DataFrames
#team_df = team_df.merge(mean_df, on='Team Name', suffixes=('_mean', '_median')).merge(median_df, on='Team Name', suffixes=('_mean', '_median')).merge(df[['Team Name', 'country', 'Position']].drop_duplicates(), on='Team Name')

team_df.info()

# STEP 4.4  
# For ALL (Volunteers and staff) - create files with Teams data
#team_df.to_excel('team_ALL.xlsx', index=False)
team_df.to_csv('team_ALL.csv', index=False)

TypeError: agg function failed [how->mean,dtype->object]